<div class="card-trip">
  <div class="row">
    <!-- Détails de l'île à gauche -->
    <div class="col-md-6">
      <div class="card-trip-infos max-width-500">
        <h2><%= @island.name %></h2>

        <!-- Carousel d'images -->
        <div id="photoCarousel" class="carousel slide" data-bs-ride="carousel">
          <div class="carousel-inner">
            <% if @island.photos.attached? %>
              <% @island.photos.each_with_index do |photo, index| %>
                <div class="carousel-item <%= 'active' if index.zero? %>">
                  <%= cl_image_tag photo.key, height: 300, width: 400, crop: :fill %>
                </div>
              <% end %>
            <% else %>
              <p>No picture available for this island.</p>
            <% end %>
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#photoCarousel" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#photoCarousel" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>

        <!-- Infos sur l'île -->
        <p><strong><%= @island.description %></strong></p>
        <p>Travellers max: <%= @island.capacity %></p>
        <div class="roundedImage">
          <p>Hôte : <%= @island.user.first_name %></p>
        </div>
      </div>
    </div>

    <!-- Formulaire de réservation à droite -->
    <div class="col-md-4" >
      <h1>New booking</h1>
      <div data-controller="datepicker">
        <%= simple_form_for [@island, @booking] do |f| %>
          <%= text_field_tag :date_range, nil,
            data: { datepicker_target: "dateRange" },
            placeholder: "Select date range",
            class: "form-control" %>

          <%= f.input :start_date, as: :hidden, input_html: { data: { datepicker_target: "startDate" } } %>
          <%= f.input :end_date, as: :hidden, input_html: { data: { datepicker_target: "endDate" } } %>
        <div class="nights">
          <p>Nights: <span data-datepicker-target="nights">0</span></p>
          <p>Price per night: $<span data-datepicker-target="pricePerNight"><%= @island.price_per_night %></span></p>
          <p>Total: $<span data-datepicker-target="totalPrice">0</span></p>
        </div>
          <%= f.submit class: "btn btn-primary" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
