<h1>New booking</h1>
<%= simple_form_for [@booking, @guest] do |f| %>
  <%= f.date :start_date %>
  <%= f.date :end_date %>
  <%= f.input :status %>
  <%= f.input :island_id %>
  <%= f.submit "Submit review", class: "btn btn-primary" %>
<% end %>
