<h1>New booking</h1>
<%= simple_form_for [@island, @booking] do |f| %>
  <%= f.input :start_date %>
  <%= f.input :end_date %>
  <%= f.input :status %>
  <%= f.input :island_id %>
  <%= f.submit "Submit review", class: "btn btn-primary" %>
<% end %>
