<h1>New booking</h1>

<!-- app/views/bookings/new.html.erb -->
<% if @booking.errors.any? %>
  <div id="error_explanation">
    <ul>
      <% @booking.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<div data-controller="datepicker">
<%= simple_form_for [@island, @booking] do |f| %>
  <div class="input-group mb-3">
    <span class="input-group-text">
      <i class="fa-solid fa-calendar"></i>
    </span>
    <%= text_field_tag :date_range, nil,
      data: {
        datepicker_target: "dateRange"
      },
      placeholder: "Select date range",
      class: "form-control" %>
  </div>

  <div class="input-group mb-3">
    <span class="input-group-text">
      <i class="fa-solid fa-user"></i>
    </span>
    <%= f.input :travellers,
                wrapper: false,
                label: false,
                input_html: {
                  value: 2,
                  class: 'form-control'
                } %>
  </div>

  <%= f.input :paid_price, as: :hidden,
    input_html: { data: { datepicker_target: "paidPrice" } } %>
  <%= f.input :start_date, as: :hidden,
    input_html: { data: { datepicker_target: "startDate" } } %>
  <%= f.input :end_date, as: :hidden,
    input_html: { data: { datepicker_target: "endDate" } } %>

  <p>Nights: <span data-datepicker-target="nights">0</span></p>
  <p>Price per night: $<span data-datepicker-target="pricePerNight"><%= @island.price_per_night %></span></p>
  <p>Total: $<span data-datepicker-target="totalPrice">0</span></p>
  <%= f.submit class: "btn btn-primary" %>
<% end %>
</div>
