<div class="d-flex navbar-simple-container">
  <div class="element1">
    <%= link_to islands_path do %>
      <%= image_tag "Logo.png", alt: "logo-skybnb", width: 200 %>
    <% end %>
  </div>
  <div class="name_user">
    <h2><strong>Welcome <%= current_user.first_name %> ! </strong></h2>
  </div>

    <div class="right-element">
   <% if user_signed_in? %>
    <%= link_to "Logout", destroy_user_session_path, method: :delete, data: { turbo_method: :delete }, class: "btn-deconnect" %>
    <% else %>
    <%= link_to "Sign in", new_user_session_path, class: "btn-deconnect" %>
  <% end %>
    <div class="profile_navbar">
      <%= link_to dashboard_path do %>
      <i class="fas fa-user" title="Dashboard"></i>
      <% end %>
    </div>
    </div>
</div>
