 <div class="login-container">
    <form class="login-form">
      <h2>Connectez-vous</h2>
      <div class="input-group">
        <label for="email">Adresse Email</label>
        <input type="email" id="email" name="email" required>
      </div>
      <div class="input-group">
        <label for="password">Mot de Passe</label>
        <input type="password" id="password" name="password" required>
      </div>
      <button type="submit" class="btn login-btn">Se connecter</button>
      <div class="alternative-login">
        <p>Ou</p>
        <p>connectez-vous avec</p>
        <button type="button" class="btn google-btn">Connexion avec Google</button>
        <button type="button" class="btn apple-btn">Connexion avec Apple</button>
      </div>
    </form>
  </div>





<!-- app/views/devise/sessions/new.html.erb -->

<h2>Connectez-vous !</h2>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="form-group">
    <%= f.label :email, "Adresse e-mail" %>
    <%= f.email_field :email, autofocus: true, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :password, "Mot de passe" %>
    <%= f.password_field :password, autocomplete: "off", class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.submit "Se connecter", class: 'btn btn-primary' %>
  </div>
<% end %>

<p>ou</p>

<!-- Connexion avec Google -->
<%= link_to "Connexion avec Google", user_google_oauth2_omniauth_authorize_path, class: 'btn btn-google' %>

<!-- Connexion avec Apple -->
<%= link_to "Connexion avec Apple", user_apple_omniauth_authorize_path, class: 'btn btn-apple' %>

<p>
  <%= link_to "Je n’ai pas de compte. S’inscrire", new_user_registration_path %>
</p>
